.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important;
}


.mySwiper-project {


  .swiper {
    width: 50% !important;
    height: 100%;
    margin-right: 0 !important;

  }

  .swiper-slide {
    width: 500px !important;
    /* height: 600px; */
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: white;
  opacity: 1;
  background-color: #D0D5DD;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #EC8000;
}

.Mui-active {
  color: #EC8000 !important;
}

.swiper-button-prev {
  margin-top: -5rem !important;
  color: #EC8000 !important;
}

.swiper-button-next {
  margin-top: -5rem !important;
  color: #EC8000 !important;
}

@media (max-width: 768px) {

  /* Small screens */
  .swiper {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  /* Medium screens */
  .swiper {
    width: 75% !important;
    margin: 0 auto;
  }
}

@keyframes fadeInOut {

  0%,
  20%,
  100% {
    opacity: 0;
  }

  30%,
  90% {
    opacity: 1;
  }
}

.fade-slide {
  position: absolute;
  opacity: 0;
  animation: fadeInOut 6s ease-in-out infinite;
}

/* Delay each slide for a staggered effect */
.slide-1 {
  animation-delay: 0s;
}

.slide-2 {
  animation-delay: 6s;
}

.slide-3 {
  animation-delay: 12s;
}