.custom-step {
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail {
    background-color: #ec8000 !important;
    width: 4px !important;
    left: 4px !important;
  }
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-icon {
    width: 12px !important;
    height: 12px !important;
  }
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail {
    background-color: #f2f4f7 !important;
    width: 4px !important;
    left: 3px !important;
  }
  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: transparent !important;
    width: 0px !important;
  }
  .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: transparent !important;
    width: 0px !important;
  }
  .ant-steps-item .ant-steps-item-content {
    min-height: 78px !important;
  }
  /* .ant-steps-item-wait > .ant-steps-item-content {
    min-height: 68px !important;
  } */
  .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #ec8000 !important;
  }
  .ant-steps-vertical
    > .ant-steps-item
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    width: 2px !important;
    height: 100%;
  }
  .ant-steps-vertical .ant-steps-dot .ant-steps-item-icon {
    width: 12px !important;
    height: 12px !important;
  }
  .ant-steps-item-process
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #ec8000 !important;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: #101828 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-description {
    color: #101828 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .ant-steps-item-wait
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: white !important;
    width: 12px !important;
    height: 12px !important;
    border: 3px solid #ec8000 !important;
  }

  .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: #101828 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  @media screen and (max-width: 660px) {
    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      font-size: 14px !important;
    }
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      font-size: 14px !important;
    }
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-description {
      font-size: 14px !important;
    }
  }
}
.people {
  .swiper {
    margin-left: 0 !important;
  }

  .swiper-slide {
    width: 14rem !important;
  }

  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  .swiper-button-next:after {
    display: none !important;
  }
  .swiper-button-next:after {
    display: none !important;
  }
  .swiper-button-prev:after {
    display: none !important;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    pointer-events: none;
    cursor: pointer;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 0;
  }
  .swiper-button-next {
    right: 10px;
    left: auto;
  }
  .swiper-button-prev {
    left: 10px;
  }

  @media screen and (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      top: auto;
      bottom: 10px;
      transform: translateY(0);
    }
    .swiper-button-next {
      right: calc(50% - 50px);
    }
    .swiper-button-prev {
      left: calc(50% - 50px);
    }
  }
}
