.iRCxYP {
  color: black !important;
  font-family: var(--secondary-font) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.fwRzpx {
  display: none !important;
}
.erdVAe::before {
  background: #e4e7ec !important;
  width: 2px !important;
}
.erdVAe::after {
  background: #e4e7ec !important;
  width: 2px !important;
}
.gJvBnh {
  box-shadow: none !important;
  border: none !important;
  filter: none !important;
}
.eczmnE:not(.using-icon) {
  width: 2px !important;
  border-radius: 0 !important;
  background: #e4e7ec !important;
}
.eczmnE:not(.using-icon).active {
  border: none !important;
  background: #667085 !important;
  height: 11rem;
  width: 2px !important;
  border-radius: 0 !important;
}
.kgWrEL {
  align-items: start !important;
  margin-bottom: 2rem !important;
}
.hfqrxG {
  filter: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.gJAGSz.active,
.gJAGSz {
  background: none !important;
  color: #667085 !important;
  font-family: var(--secondary-font) !important;
  font-size: 12px !important;
}
.jHGHrJ {
  color: #667085 !important;
  font-family: var(--secondary-font) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.kKnUeT {
  color: #667085 !important;
  font-family: var(--secondary-font) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.jHeaAq {
  margin: 0 !important;
}
.jsVFgY::after {
  background: #e4e7ec !important;
}
.jsVFgY::before {
  background: #e4e7ec !important;
}
@media (max-width: 600px) {
  .hfqrxG {
    height: 270px !important;
  }
  .jHGHrJ {
    width: 100% !important;
  }
}
